ODOO_URL=https://YOUR-VPS-ODOO-DOMAIN
ODOO_DB=YOUR_VPS_ODOO_DB
ODOO_USERNAME=YOUR_VPS_ODOO_USERNAME
ODOO_PASSWORD=YOUR_VPS_ODOO_PASSWORD
ODOO_DEFAULT_PARTNER_ID=1
ODOO_PRODUCT_MODEL=product.product
ODOO_PRODUCT_FILTER_FIELD=sale_ok
KASS_STORE_PATH=./data/kass-store.json
